/* 
    Document   : my_garland
    Created on : May 3, 2013, 3:11:52 PM
    Author     : Timotius Nugroho Chandra <timotius.n.chandra@gdpventure.com>
    Description:
        Purpose of the stylesheet follows.
*/
